.idea
**/.DS_Store
.DS_Store
*.pyc
trained_models/*
dep_search/output
bleurt/
runs/
gpt3/api_key.txt
.DS_Store
output/**/*
src/entailment_model/checkpoints
src/entailment_model/outs
src/entailment_model/fp_dataset_artifacts
src/entailment_model/eval_out
data/full/entailmentbank/task_3/processed_test.jsonl
data/full/wanli/mnli/train.jsonl
data/full/wanli/wanli/annotation_results.jsonl