The bike is on your neighbor's property.
The bike belongs to your neighbor.
Taking the bike is stealing.
You should not take the bike.
The lawnmower is John's property after the sale.
The lawnmower is still John's property.
Taking the lawnmower is stealing.
You should not take the lawnmower.
Alice did not mean for you to have the keys.
You do not have permission to use Alice's keys.
Using the keys to drive Alice's car is stealing.
You should not use the keys to drive Alice's car.
You caused the traffic light to be disabled.
You caused the driver to kill Eileen.
You committed manslaughter.
You did not try to prevent the slab from falling.
You allowed the slab to fall.
You allowed the slab to kill Bob.
You committed manslaughter.
Alan told Paz that Erica did something wrong.
What Alan told Paz about Erica didn't actually happen.
Alan told Paz that Erica did something wrong, but she didn't.
Alan slandered Erica.
