The sun rising and setting is the event that occurs once per day.
A star is a source of light.
As the distance of the star to earth decreases, the star will appear brighter.
Apparent magnitude is a measure of the brightness of a star as observed on earth.
New york state is located in the northern hemisphere.
December is during the winter for new york state.
New york state has the least sunlight during december.
Earth is a planet that rotates on its tilted axis.
Earth rotating on its axis causes the cycle of day and night on earth.
The plants in the gardens are located outside.
The plants in the gardens will receive sunlight during the day.
The plants in the gardens will receive sunlight to grow during the day.
The plants in the gardens will receive the most sunlight in summer to grow during the day.
Andy will experience winter in southern hemisphere in august.
Earth revolving the sun is an example of a planet revolving around its star.
A complete revolution of earth around the sun takes an earth year.
The earth is a planet that rotates on its tilted axis once per day.
The earth rotating on its tilted axis causes the cycles of day and night on earth.
Mercury is a planet in the solar system.
Mercury is a planet orbits the sun in the solar system.
A complete orbit of mercury around the sun takes one mercury year.
A complete orbit of mercury around the sun takes around 88 earth days.
The new moon is when the moon could block the earth from the sun.
A solar eclipse could only happen during the new moon.
Objects in kuiper belt are icy.
Comets are the kind of celestial object that has a highly elliptical orbit and has a period of over 1000 years.
The student observes the milky way galaxy at night.
Looking at the moon has less of a negative impact on the eyes.
Both the surface of the moon and the surface of the earth contain mountains.
The asteroid belt that contains the most asteroids is located between mars and jupiter.
The sun is average in siza and average in temperature in our galaxy.
As the mass of a celestial object decreases, the weight of an object on that celestial object will decrease.
An object weighs more on earth than on the moon because earth has more mass than the moon.
An object will weigh less on the moon than on the earth because the moon has less mass than the earth.
An astronaut will weigh less on the moon than on earth because the moon has less mass than the earth.
Using a telescope to photograph a solar prominence and a solar flare requires a light filter.
Telescopes allow the detailed observation of celestial objects.
Telescopes allow the detailed observation of planets.
Gravity causes the earth to revolve around the sun.
Gravity causes the moon to orbit the earth.
Gravity causes both the orbit of the earth around the sun and the orbit of the moon around the earth.
The highest tides occur during a full moon.
Marine fossils are fossils of water animals.
Fossils of water animals are found in mountains.
The mountains used to be covered by water in the past.
The environment has changed from a body of water to mountains.
The environments on the crustal surface of earth have changed from a body of water to mountains.
Fossils are mostly found in sedimentary rock.
Quartz is a kind of mineral.
The method by which a rock is formed can be used to classify rocks.
The origin of rocks can be used to classify rocks.
Studying rock formations can mean studying the history and processes of earth.
Structural geologists study the history and processes of earth.
Studying fossils in rock formations can mean studying the history and processes of earth.
Paleontologists study the history and processes of earth.
Structural geologists and paleontologists both study the history and processes of earth.
Fossils are lost / destroyed when sedimentary rock changes to metamorphic rock.
Sedimentary rock changing to metamorphic rock causes gaps in the fossil record.
Heat energy can change igneous rock into metamorphic rock.
Cutting down trees in a forest causes the number of habitat to decrease.
Cutting down trees in a forest causes the number of habitat required by animals for survival to decrease.
Humans building homes in an ecosystem has a negative impact on an ecosystem and organisms living in the ecosystem.
Humans building homes in a wetland has a negative impact on a wetland and organisms living in the wetland.
Tuna is a kind of predator.
Tuna is a kind of predatory fish.
Commercial harvesting from the ocean has caused the populations of tuna to decrease.
Extinctions of organisms can cause damage to an ecosystem by changing the food web.
Earthquakes are more likely to occur in california than in massachusetts.
The subduction of an oceanic plate may cause magma to surface from underneath.
The subduction of an oceanic plate will cause magma to surface and cool down.
The subduction of an oceanic plate can form volcanic mountians.
A volcanic eruption can cause acid rain and decrease the temperature.
A volcanic eruption may have happened to cause the cold weather and acid rain.
The earth's atmosphere is made of mostly nitrogen.
Oceans cover most of earth's surface.
Water covers most of earth's surface.
Ocean water is made of hydrogen and oxygen.
Oxygen is the most common element found in the compounds that make up ocean water.
Water will flow through soil easily.
If the soil has high humus content, then the soil will be brown in color.
Mountain is the geographic obstacle that can cause the water in the air mass to condense.
Condensation is required for clouds to form.
Wind erosion can form sand dunes and arches.
Rain can decrease the amount of nutrients in soil.
Drought causes the environment to be dry.
Drought may cause wildfires.
Drought may cause wildfires to a prairie.
A barometer is an instrument used to measure air pressure.
Temperature is a kindof information about weather.
A thermometer is used to measure the information about weather on temperature.
Wind direction is a kind of information about weather.
Wind direction in a particular point and time is displayed in a station model.
Hail and sleet are different kinds of precipitation.
When energy transformation happens, the total amount of energy is constant.
When energy conversion happens, the total amount of energy is constant.
Heat can change a substance from a solid to liquid.
Heat can cause a solid substance to melt.
Heat can cause ice to melt.
The heat energy from the sunlight cause ice to melt.
A wagon is a kind of object.
A wagon rolling is an example of an object in motion.
A wagon rolling is an example of mechanical energy.
The sound in a loud class room is an example of high sound energy.
A sidewalk located outside will absorb solar energy.
The sidewalk located outsie will heat.
The sidewalk located outside will feel hot.
The person in the dark room will not reflect enough light to be seen.
The person outside cannot see the person in the dark room.
A prism can refract light and split the light into different colors.
A prism can refract white light and split the light into all colors of visible light.
Sound cannot travel through a vacuum.
A metal spoon is a thermal conductor.
The hot soup will be a source of heat for the metal spoon.
The metal spoon will be heated up by thermal conduction.
Thermal conduction is a heat exchange process involving the collision of particles.
Longitudinal waves are also called compression waves.
Compression waves cause object to move in the same direction of the wave.
Skidding causes friction between the tire and the road.
Friction causes the temperature of the tire to increase.
If the temperature of the tire keeps increasing, some chemical in the tire will be vaporized.
Friction causes some chemicals in the tire to vaporize.
Friction causes the tire to produce smoke.
As the roughness of a surface increases, the resistance on the object to move will increase.
The resistance on the object to move on the carpet will be larger than on the wood.
The resistance on the toy car to move on the carpet is larger than on the wood.
The toy car will move slower on the carpet than on the wood.
Flying a glider requires lift to oppose the weight of the glider.
The pedals are the part of a bicycle that moves in circular motion.
40 m/s north describes the velocity of an object.
Inherited characteristics can be used to classify an oganism into the apropriate taxonomic rank.
Genes can be used for classifying organisms.
Dna can be used for classifying organisms.
Molecules are used for classifying organisms.
A tadpole is a kind of young amphibian.
An example of metamorphosis is when a tadpole changes from a an immature form to and adult form.
The imature form of a frog is called a tadpole and the adult form of a tadpole is called a frog.
An example of metamorphosis is when a tadpole changes from a tadpole into a frog.
Laying eggs occurs during adulthood.
Laying eggs occurs during the adult stage in the life cycle.
A female insect lays eggs during the adult stage of an insect's life cycle.
A cat gives birth to live young.
A cat undergoes live birth.
A cat develops inside its mother.
Two birds are in different taxonomic families.
Two birds developed under similar environmental pressures.
Two birds developed separate from each other.
Two birds developed in separate environments under similar environmental pressures.
Two birds from different taxonomic families developed in separate environments under similar environmental pressures.
An example of convergent evolution is two birds from different taxonomic families developing in separate environments under similar environmental pressures.
The winter season can cause change to the environment.
An example of a seasonal change is plants dying or becoming dormant in the winter.
An animal needs to eat food for nutrients.
An animal can eat plants for nutrients.
An example of seasonal change is some animals' food dying in the winter.
An example of preparing is an animal storing food to last through the winter.
An example of preparing for seasonal change is an animal storing food for the winter.
An example of preparing for seasonal change is a squirrel storing food for the winter.
An example of preparing for seasonal change is an squirrel storing nuts for the winter.
Some animals must move to warmer climates in the winter.
An example of migration is moving to a warmer climate in the winter.
An example of migration is birds flying south in the winter.
An example of an adaptation is birds migrating south in the winter.
A wasp's stinger can be used to cause harm to living things.
A stinger is used for defense by a wasp.
An example of camouflage is organism having the same color as its environment.
An example of camouflage is an animal's skin having the same color as its environment.
An animal having the same skin color as its environment is an adaptation for hiding in an environment.
Hiding can be used to avoid being seen by predators.
Hiding is a kind of protection against predators.
An animal having the same skin color as its environment is a kind of protection against predators.
To blend into something means to hide in something.
An example of hiding is white fur blending in with snow.
An example of camouflage is white fur blending in with snow.
Some birds look like leaves.
Some birds are difficult to distinguish from leaves.
Some birds are difficult to see in leaves.
An example of camouflage is a bird looking like leaves.
Looking like leaves can be used by birds for hiding from predators.
Looking like leaves can be used by birds for avoiding predators.
An animal usually requires warmth for survival.
An animal requires warmth in cold temperatures.
Thick fur can be used by animals for survival in cold temperatures.
Thick fur can be used by animals for survival survival during winter.
Thick fur can be used by bears for survival during winter.
Some animals must hunt to survive.
Better senses have a positive impact on an animal's survival.
Better hearing has a positive impact on an animal's survival.
Senses are an inherited characteristic.
Hearing is an inherited characteristic.
Better hearing is an inherited characteristic that has a positive impact on an animal's survival.
The decendants of an animal with traits that positively impacted their survival will also have traits that positivley impact their survival.
The decendants of an animal with better hearing will also have better hearing.
Mosquitos sense animals by sensing their carbon dioxide emissions.
Animals are a source of food for mosquitos.
Sensing animals has a positive impact on a mosquito's ability to find food.
Sensing carbon dioxide has a positive impact on a mosquito's ability to find food.
Water has a positive impact on a living thing's survival.
Increasing the availability of water for a living thing has a positive impact on that living thing's survival.
Storing water has a positive impact on a living thing's survival by increasing the availability of water.
A dry environment is low in availability of water.
Storing water increases the water available to organisms in a dry environment.
Storing water is an adaptation to a dry environment.
As water increases in an environment, the population of aquatic animals will increase.
As water increases in an environment, the population of salamanders may increase.
A flood is a result of a large increase of water in a body of water.
A flood is a result of a large increase of water in an environment.
A flood may cause the population of salamander to increase in an environment.
Alligators eat animals.
Alligators are a kind of predator.
As the population of prey decreases, competition between alligators will increase.
As the population of prey decreases, agression between alligators will increase.
Drought is when available water decreases in an environment over a period of months / years.
A drought that occurs over a period of months / years may cause the population of plants in an environment to decrease.
A drought that occurs over a period of months / years may cause the population of marsh willow herb in an environment to decrease.
When the body is hot, sweat is used to cool the body.
Panting and sweating are used to cool the body.
Cooling can be used by an animal for survival.
If the temperature of an animal's environment becomes too hot then that animal must cool itself.
An animal cooling itself is an adaptation to hot temperatures.
An example of adaptations to hot temperatures are panting and sweating.
Living things must convert oxygen into carbon dioxide to use energy.
Living things must breathe to use energy.
Animals are a source of carbon dioxide by breathing.
Animals produce carbon dioxide by breathing.
Animals produce carbon dioxide by using energy.
Photosynthesis stores energy.
Respiration is a source of energy for living things.
Respiration releases energy.
Photosynthesis stores energy and respiration releases energy.
The digestive system breaks down food.
If something contains something else then that something can be broken down into that something else.
The digestive system breaks down food into the substances it contains.
The digestive system breaks down food into nutrients for the body.
Fish is a kind of scaled animal with scales covering around the body.
Scales are used for protection by fish.
A human is a kind of living thing.
An apple tree is a kind of living thing.
Both the human and the apple tree are made of cells.
A cell nucleus is a part of a plant cell.
A cell nucleus, chloroplast and a cell wall are part of a plant cell.
A computer room in a factory has a similar function to the cell nucleus in controlling the functions.
A nucleus cannot be found in prokaryotic cells.
A leaf makes food for the plant by performing photosynthesis.
A leaf performs a specific life process of making food for the plants.
A leaf in a plant is performing like an organ in organisms.
Absorbing carbon dioxide is a stage in the photosynthesis process.
Absorbing carbon dioxide from the air is a stage in the photosynthesis process.
A plant absorbs carbon dioxide from the air to perform photosynthesis.
Plant photosynthesis reduces the amount of carbon dioxide in the air.
Photosynthesis means plants convert carbon dioxide and water and sunlight into carbohydrates and food and oxygen.
A plant uses sunlight for photosynthesis.
A plant uses the raw material sunlight for photosynthesis.
A plant absorbs sunlight to perform photosynthesis.
Chlorophyll is found in the cells of parts of plants that absorb sunlight to perform photosynthesis.
Chlorophyll is used for absorbing sunlight by plants.
Sunlight is a kind of light energy.
Chlorophyll is used for absorbing light energy by plants.
Some microorganisms are benificial to human body.
Some disease-causing microbes are harmful to human body.
The relationship between human and microorganisms is sometimes beneficial and sometimes harmful.
A river is a nonliving thing.
Food preference is a kind of learned characteristics.
Food preference is a kind of acquired characteristics.
A dog is a kind of organism.
The food preference of a dog is affected by its environment.
A dog coming when called is a kind of learned characteristic.
Hunting is a kind of learned behaviors.
Food preference is a kind of learned characteristics.
Learned characteristics are not inherited from parents.
Food preference is not inherited from parents.
The intelligence of a human is an acquired characteristic.
The intelligence of a human is not an inherited characteristic.
Genes are a vehicle for passing inherited characteristics from a mother and a father to offspring.
Genes are passed from a mother and a father to offspring through the egg and sperm.
Traits are passed from a mother and a father to offspring through the egg and sperm.
If thymine is found in a strand of nucleic acid, then the nucleic acid is dna.
The researcher found a strand of dna.
All the offspring with red flowers are heterozygous dominant.
Heterozygous dominant red flowered plants are crossed with pure recessive white flowered plants.
The offspring will have either dominant red flowers or recessive white flowers with either of 50% probability.
Each parent has one dominant gene and a recessive gene for sickle cell anemia.
Both parents are heterozygous dominant for sickle cell anemia.
The offspring of heterozygous dominant parents will have 25% probability of being homozygous recessive for sickle cell anemia.
The offspring of heterozygous dominant parents will have 25% probability of having sickle cell anemia.
One in four of the offspring of heterozygous dominant parents will have sickle cell anemia.
The color of plants' flowers is a kind of inherited characteristic.
Plants offspring can inherit the flower color from their parents.
The parents of the plant are likely to have yellow flowers.
A sea turtle that is just born walks toward the ocean.
Walking toward the ocean is sea turtles' instinct behavior.
A chick is a kind of baby bird.
A chick pecking at its shell to hatch is an example of an instictive behavior.
To have blue eyes requires receiving the recessive gene from each parent.
A mutation in sperm or egg of a parent can cause a new trait to appear in the parent's offspring.
Human are breeding german shepherd dogs with dogs with genetic trait of smaller size.
Human breeding german shepherd dogs with dogs with genetic trait of smaller size is an example of selective breeding.
The sexual reproduction process is prevented in the insects.
The reproduction rate in the insects will decrease.
The population of the insects will decrease.
When a hammer rusts, the hammer will becom flaky on the surface.
The hammer has rusted.
The hammer has undergone a chemical change.
Element 3 turning green is an example of a substance turning green.
A chemical change may occur to element 3.
Burning something with fire is a kind of chemical reaction.
Burning something with a lit candle is a kind of chemical reaction.
Burning magnesium with a lit candle is a kind of chemical reaction.
Burning magnesium with fire will lead to a chemical change.
Chemical changes cause new materials to form.
An example of chemical property is the elements making up water.
A chemical property of water is that it is made of hydrogen and oxygen.
Water can be separated into hydrogen and oxygen.
Sodium bicarbonate releasing carbon dioxide is a chemical reaction.
Releasing carbon dioxide is a kind of chemical property of sodium bicarbonate.
Sharpening a pencil changes the shape of an object.
Tearing paper changes the shape of an object.
Sharpening a pencil and tearing paper both change the shape of the object.
Sharpening a pencil and tearing paper both change the appearance of the object.
Sharpending a pencil and tearing paper both change the physical property of the object.
Pencil and paper underwent a physical change.
The temperature of the solid increases.
The temperature of the solid substance increases.
The molecules in the solid substance moves faster.
The molecules in the solid substance increases in speed.
Atomic mass is determined by the sum of protons and neutrons particle numbers.
Equal numbers of protons and electrons result in a neutral 0 electric charge.
Equal numbers of protons and electrons and any number of neutrons result in a neutral 0 electric charge.
If an atom has an equal number of protons and electrons, then the atom will have a neutral charge.
That atom has an equal number of protons and electrons.
Iron in contact with water and oxygen causes a chemical change.
Iron in contact with water and oxygen is an example of chemical reactions.
Elements that belong to alkaline earth metals are highly chemically reactive.
Magnesium is highly chemically reactive.
Sulfur is a kind of element.
Fe is the chemical symbol for iron element.
Oxygen gas is an element.
O2 is an element.
Te is a kind of metalloid.
Sb is a kind of metalloid.
Sb and te are both metalloids.
Helium, neon, argon, krypton, xenon, and radon have complete outer electron shells.
Helium, neon, argon, krypton, xenon, and radon will not react with other elements easily.
Water boiling is when water changes from a liquid into a gas.
Water boiling is when water changes from liquid water to water vapor.
Water boiling is when water changes from a liquid into a gas by increasing heat energy.
The puddle will evaporate.
A puddle drying in the sun is an example of evaporation.
The water in the bucket will absorb solar energy.
The water in the bucket will increase in temperature.
The water in the bucket will evaporate.
A gas is made of its molecules.
The molecules in the gas will move faster.
Comparing the mass of two rocks requires knowing the mass of each rock.
The student has to know the mass of each rock to compare them.
The student can use balance to know the mass of each rock to compare them.
A balance can be used for measure the mass of sand.
Determining the mass of the sand requires using a balance to measure the mass of the sand.
The density of an object can be measured using a graduated cylinder and a balance.
The density of a marble can be measured using a graduated cylinder and a balance.
Measuring milliliters requires a tool for measuring volume.
Measuring milliliters requires a graduated cylinder.
The matter has the same shape as the container and fixed volume.
The matter may have a variable shape and a fixed volume.
The matter may have a fixed shape and a fixed volume.
The matter may have a fixed or variable shape and fixed volume.
Matter in solid phase has definite volume and definite shape.
Matter in the liquid phase has a variable shape and definite volume.
The matter may be in solid phase or in liquid phase.
Seeing an insect with bare eyes is difficult.
Magnifying glass can be used to see an insect by making it appear bigger.
A hand lens can help seeing the insect by magnifying the insect.
Cutting a material when building a doghouse  requires measuring length.
Cutting wood when building a doghouse requires using a tape.
Candy is a kind of substance.
A thermometer is used to measure the temperautre of the candy.
Centimeter is a better unit to measure the length of the string.
Yard and meter are both unit used for measuring length.
Meter is the metric unit that is the most similar to yard.
Copper and zinc are two metals.
Brass is made of two metals.
Brass is a kind of alloy.
A carpet can absorb sound.
Sound cannot reflect off the surface of a carpet.
Echo will not be produced.
A balloon filled with helium is an example of a container contains a substance with less density than air.
The balloon filled with helium may move upward if released.
A white door will reflect all visible light.
The ice undergoes a phase change.
The mass of the ice will not change.
Air is inside the soap bubbles.
Matter in the liquid phase has definite volume and variable shape.
Matter in the liquid phase has definite volume and indefinite shape.
A compound is made of matter.
A compound in the liquid phase has definite volume and indefinite shape.
Hail is water in solid ice.
An airplane can move people to far away places quickly.
A cake is a product made by human adding heat to it.
Transportation technology is a system that moves people and products.
Refrigerator is the invention that can keep food fresh for a long period of time.
Radio station broadcasting emits radio waves.
Radio station is a radio transmitter.
Pliers are a tool made of two levers for gripping.
Pliers are a tool that can produce gripping force.
Pliers can be used to tighten a mechanical fastener.
Advances in technology decrease human jobs by replacing them with efficient machines.
Advances in technology decreasing human jobs by more efficient machines has a negative impact on human.
The student wants to record the data of the growth of a vine over a period of time.
A line graph an be used to show the data of the growth of the vine over a period of time.
