You should not hurt someone without a good reason.
If you do something for petty reasons, you aren't doing it for a good reason.
Road rage is anger over driving.
You should not steal.
Stealing is taking something without the owner's permission.
You only have permission to take merchandise from a store if you pay for it.
If you caused an accident, you should help anyone affected by it.
If you drop something accidentally, you need to pick it up afterwards.
You should not do impolite things.
In the United States, it's impolite to not tip someone who serves you.
New Mexico is a state in the United States.
You should pay back your debts.
If you borrow something from someone and haven't given it back, you owe it to them.
You remind someone to do something when you want them to do it but they haven't.
You should not take something that doesn't belong to you.
People write their names on things to mark them as their belongings.
You should share things with people in need.
You should let people ahead of you in line go first.
If a group of people is waiting for something, the people who were waiting earliest are first in line.
When you take something, you prevent other people from taking it.
Embezzlement is theft or misappropriation of funds belonging to an employer.
Using money allotted for one purpose for another purpose is misappropriation.
Tessa works as an accountant at her firm.
Money in a company's retirement fund is intended to be paid out to retirees.
Letting someone else take the blame for your actions is wrong.
Leading others to think someone was responsible for something is shifting the blame.
Dropping a cigarette can cause a fire.
Telling someone that something happened leads them to believe it happened.
You shouldn't help someone do something wrong.
Taking something that doesn't belong to you is wrong.
The right thing to do is whatever results in the least harm.
Getting hit by a vehicle is likely to cause serious injury or death.
You shouldn't tell someone to copy homework.
Cheating is wrong.
Telling someone to do something is influencing them to do it.
You shouldn't influence someone to do something wrong.
You shouldn't record someone being physically intimate without their consent.
You shouldn't record someone in a compromising situation without their consent.
A compromising situation is one which could cause embarrassment or shame if made public.
Making out with someone is an intimate act.
You need to be aware that something is happening in order to consent to it.
You should not put yourself or others at unnecessary risk.
Putting yourself or others at unnecessary risk is reckless.
If you could do something to reduce risk, but you don't, you're exposing yourself to avoidable risk.

Checking for traffic in a lane before entering it reduces the risk of a collision.
You shouldn't cheat.
Adding pieces to the board is against the rules of chess.
You shouldn't add pieces to the board.
You shouldn't do anything that prevents you from driving safe.
If something prevents you from doing the right thing, it's wrong.
Safe driving requires your full attention.
Checking your phone takes your attention off of whatever else you're doing.
If you want to do something, but it's too soon, you should wait.
Taking a second portion before someone else has gotten a first portion is unfair.
Murder means killing someone with premeditation.
Premeditation means thinking through something before doing it.
Buying supplies for something is part of planning for something.
It's a faux pas to offer someone something they can't accept.
People who are pregnant shouldn't drink beer.
People who are pregnant shouldn't drink alcohol.
Even if you are mad at someones mistake, you should forgive them.
If you did not mean for something to happen, it was a mistake.
Having hot coffee spilled onto you will make you angry at someone
When someone spills hot coffee on you, it hurts.
If someone does something that harms you, you will get angry at them.
You should not cheat.
You should be honest.
Cheating is dishonest.
You can't score well on a test without studying for it unless you cheat.
You should not litter.
Littering is when you throw trash outside of a trash bin.
If you see someone struggling to do something, you should help them.
If you are holding something with both hands, you cannot open the door
You should avoid harming someone else or yourself.
Driving dangerously can harm you or someone else.
Driving after drinking alcohol is dangerous.
You should not copy protected work from other people because that's copyrite infringement.
You should not copy other peoples work and claim it as your own.
Copyrite infringement is using protected works of another person without permission
You should not scare people without good reason.
Scaring people is mean and rude unless you have a good reason.
You generally do not want to do mean or rude things to people.
Yelling fire for fun is not a good reason to yell fire.
When you yell fire for no good reason, you scare everyone around you.
Even though you won't be punished, you should not do bad things.
If no one sees you do something bad, you won't get punished.
Stealing is bad.
When you turn away from something you cannot see it.
You should clean spills you made.
You should clean messes you create.
If you made a spill, you made a mess.
If you drop ice-cream on the floor, you made a spill.
Helping hurt animals is a good thing to do.
If you mend something, you are helping the thing that something belongs to.
Setting a cast is a way to mend a wound.
You should not play loud music with other people around because it will annoy them.
Loud music will cause other people that are around to be annoyed.
You should not annoy other people.
You should not force someone to give you something.
If you continuously harass someone until they do something, you forced them to do that thing.
Bullying is a form of harassment.
You should not do wrong things.
Forcing someone to give you money is wrong.
If you agreed to do something, you should do it.
If you agreed to do something, but you are doing something else, you are not doing the thing you agreed to do.
It is a crime to not pay your taxes.
If you earn wages over the year, you have taxes on those wages.
Breaking the law is a crime.
Paying taxes is a law.
You should abide laws.
You should fulfill your promises.
If you say that you would do something, you promised to do that thing.
You should have humility.
If you can't accept that you are wrong, you lack humility.
If you argue when you are wrong, you do not accept that you are wrong.
You should not intentionally mislead people.
If you do something on purpose, you did that thing intentionally.
Telling someone incorrect information is misleading them.
If you do something that you know is incorrect, you did that on purpose.
You should only fire someone if you have a good reason.
Not agreeing with someone is not a good reason to fire them.
If two people have different ideas from each other, they do not agree with each other.
You should disobey orders from superiors if they are unjust.
If an order is unjust, you should disobey those orders.
Superiors give orders and expect you to follow them.
If you follow an order to commit a crime, you followed an unjust order.
If you did the thing you are ordered to do from someone else, you followed the order given by that someone.
If a superior tells you to do something, that thing is an order.
If someone is your boss they are your superior.
Fraud is a crime.
If you are cheating, you should tell your partner and stop cheating.
If you are seeing someone other than your partner, you are cheating on your partner.
