There's a bike in your neighbor's garage.
Your neighbor's garage is your neighbor's property.
The bike is on your neighbor's property.
When something is on someone's property, it belongs to them.
The bike belongs to your neighbor.
Taking something that belongs to someone else is stealing.
Taking the bike is stealing.
You should not steal.
You sold John your own lawnmower.
When you sell someone something, it belongs to them.
The lawnmower is John's property after the sale.
John declines to give it back to you.
When someone declines to give you something of theirs, it is still their property.
The lawnmower is still John's property.
Taking something that belongs to someone else is stealing.
Taking the lawnmower is stealing.
You should not steal.
You find the keys to Alice's BMW on the ground.
When you find something on the ground, the owner did not mean for you to have it.
Alice did not mean for you to have the keys.
Using something without the owner's intent means you don't have permission.
You do not have permission to use Alice's keys.
When you drive someone's car without permission, you are stealing it.
Using the keys to drive Alice's car is stealing.
You should not steal.
You shot the traffic light on your street with a BB gun for fun.
Your shots caused the traffic light to be disabled.
You caused the traffic light to be disabled.
Because there was no traffic light, a driver killed Eileen with his car.
You caused the driver to kill Eileen.
When you cause someone to die but did not directly kill them, you have committed manslaughter.
You did not try to secure the slab.
Securing something prevents it from falling.
You did not try to prevent the slab from falling.
You knew the slab could fall.
If you do not try to prevent something that you know can happen, you allow it to happen.
You allowed the slab to fall.
The slab fell and killed Bob.
You allowed the slab to kill Bob.
When you allow something to kill someone, you have committed manslaughter.
Alan told Paz that Erica wasn't invited to the party because Erica started a fight the last time she came over.
Starting a fight is wrong.
Alan told Paz that Erica wasn't invited to the party because Erica started a fight the last time she came over.
Erica didn't actually start a fight.
Alan told Paz that Erica did something wrong.
What Alan told Paz about Erica didn't actually happen.
Alan told Paz that Erica did something wrong, but she didn't.
Saying that someone did something wrong when they didn't is slandering them.
